.background {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
}
.problem-quiz-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.center-text {
}
